<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataHelper.Properties.Settings.HOME" connectionString="Data Source=GT683\SQL2012EXP;Initial Catalog=Messages;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataHelper.Properties.Settings.OFFICE" connectionString="Data Source=DHDC597\SQL2012;Initial Catalog=Messages;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataHelper.Properties.Settings.PROD" connectionString="Server=2c447530-bbbf-4501-bfd9-a466008d7240.sqlserver.sequelizer.com;Database=db2c447530bbbf4501bfd9a466008d7240;User ID=qrwacltsiqlzconc;Password=uyNSBfJyaJYZrfXAArd2XEDdtNTqYNfKRW6gxLeFgDaCH3zpYaBXCLqW4KxWttGt;"
            providerName="System.Data.SqlClient" />
        <add name="DataHelper.Properties.Settings.LAGUNA" connectionString="Data Source=PROGRAMMERPC\SQL2012;Initial Catalog=Messages;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>