<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataHelper.Properties.Settings.MessagesConnectionString"
            connectionString="Data Source=GT683\SQL2012EXP;Initial Catalog=Messages;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>